<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


<head>
    <meta charset="UTF-8">
    <title>Список квестів</title>
</head>
<body>
<div class="container" id="shapka">

<h1>Something happened? You have nothing to do! :)</h1>
</div>

<!-- Contsnts sort of -->
<div class="container" id="status">
    <div class="row">
        <div class=".col-xs-12">
            <p class="bg-success">Sounds like you're on your way to success! </p>
        </div>
    </div>

</div>
</body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>