    @font-face
    {
    font-family: BetinaScript;
    src: url(lazy.ttf);
    }

    body
    {
    /* background-size: 1377px;*/
    background-image: url(bg.png); /* Путь к фоновому изображению */
    background-attachment: scroll; /* Фиксируем фон веб-страницы */
    }

    table {
           border-collapse: collapse;
            border: 2px solid black;
            font-family: BetinaScript;
          }

    tr,td {
            border: 2px solid black;
            font-family: BetinaScript;
            font-size: 24px ;
          }
/*Applying a nice color to the selector*/
    select,option
            {
            font-size: 30px;
            font-family: BetinaScript;
            background-color:  RGBA(243, 228, 185, 0.2);
            font-color: #000
            }
    form, button {
            font-family: BetinaScript;
            font-size: 24px ;
            background-color:  RGBA(243, 228, 185, 0.2);
            border: 0px none black


         }
    input, textarea {
         font-family: BetinaScript;
         font-size: 24px ;
         background-color:  RGBA(243, 228, 185, 0.2);
         border-style: solid;
         border-left: none;
         border-right: none;
         border-top: none;
         border-bottom: solid;
         border-bottom-color: black;
         border-width: 1px;
         }
    .labelize {
            font-family: BetinaScript;
            font-size: 60px ;
            padding-top: 40px;
            }
    .very_button {
                 font-family: BetinaScript;
                 background-color:  RGBA(243, 228, 185, 0.2);
                 color: RGBA(243, 228, 185, 0.2)
                 background-color:transparent

                 }
    .info {
            font-family: BetinaScript;
            font-size: 30px ;
            background-color:  RGBA(243, 228, 185, 0.2);
          }
            /*background-color:  RGBA(243, 228, 185, 0.2);*/

/*Top right compass picture placing*/
    /*#kompas {
            position: relative;
            }

    #kompas img {
                position: absolute;
                top: 0px;
                right: 0px;
                background-image: url(kompass2.png);

                }
    #kompas img:hover {
                        background-image: url(kompass2_hovered.png);
                      }*/
    .compass {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 350px;
                height:350px;
                display:block;
                background:transparent url('kompass2.png') ;
                background-size: cover;

             }
    .compass:hover {
                background-image: url(kompass2_hovered.png);
                   }
    .ship  {
                position: absolute;
                top: 40px;
                right: 40px;
                width: 320px;
                height:350px;
                display:block;
                background:transparent url('ship_2.png') ;
                background-size: cover;
                background-position: 422px 0px ;

           }
    .ship:hover {
                position: absolute;
                background-position: 0px 0px ;
                }
