    @font-face
    {
    font-family: BetinaScript;
    src: url(lazy.ttf);
    }

    body
    {
    /* background-size: 1377px;*/
    background-image: url(bg.png); /* Путь к фоновому изображению */
    background-attachment: scroll; /* Фиксируем фон веб-страницы */
    background-size: 100%;
    font-family: BetinaScript;
    font-size: 24px ;
    background-color:  RGBA(243, 228, 185, 0.2);
    border: 0px none black
    }

    table {
           border-collapse: collapse;
           border: 2px solid black;
           font-family: BetinaScript;
          }

    tr,td {
            border: 2px solid black;
            font-family: BetinaScript;
            font-size: 24px ;
          }
/*Applying a nice color to the selector*/
    select,option
            {
            font-size: 30px;
            font-family: BetinaScript;
            background-color:  RGBA(243, 228, 185, 0.2);
            font-color: #000
            }
    form, button {
            font-family: BetinaScript;
            font-size: 24px ;
            background-color:  RGBA(243, 228, 185, 0.2);
            border: 0px none black


         }

    input, textarea {
         font-family: BetinaScript;
         font-size: 24px ;
         background-color:  RGBA(243, 228, 185, 0.2);
         border-style: solid;
         border-left: none;
         border-right: none;
         border-top: none;
         border-bottom: solid;
         border-bottom-color: black;
         border-width: 1px;
         }
    .labelize {
            font-family: BetinaScript;
            font-size: 60px ;
            padding-top: 40px;
            }
    .very_button {
                 font-family: BetinaScript;
                 background-color:  RGBA(243, 228, 185, 0.2);
                 color: RGBA(243, 228, 185, 0.2)
                 background-color:transparent

                 }
    .info {
            font-family: BetinaScript;
            font-size: 30px ;
            background-color:  RGBA(243, 228, 185, 0.2);
          }
            /*background-color:  RGBA(243, 228, 185, 0.2);*/

/*Top right compass picture placing*/
    /*#kompas {
            position: relative;
            }

    #kompas img {
                position: absolute;
                top: 0px;
                right: 0px;
                background-image: url(kompass2.png);

                }
    #kompas img:hover {
                        background-image: url(kompass2_hovered.png);
                      }*/
    .compass {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 350px;
                height:350px;
                display:block;
                background:transparent url('kompass2.png') ;
                background-size: cover;

             }
    .compass:hover {
                background-image: url(kompass2_hovered.png);
                   }
    .ship  {
                position: absolute;
                top: 40px;
                right: 40px;
                width: 320px;
                height:350px;
                display:block;
                background:transparent url('ship_2.png') ;
                background-size: cover;
                background-position: 422px 0px ;

           }
    .ship:hover {
                position: absolute;
                background-position: 0px 0px ;
                }
    .galeone  {
                position: absolute;
                top: 90px;
                left: 745px;
                width: 550px;
                height:400px;
                display:block;
                background:transparent url('galleon-lg_bg.png') ;
                background-size: cover;
                background-position: 0x 0px ;

           }
    .galeone:hover {
                    position: absolute;
                    background-position: -450px 0px ;
                    }
    .cross {
                position: absolute;
                top: 0px;
                left: 384px;
                width: 630px;
                height:630px;
                display:block;
                background:transparent url('Cross.png') ;
                background-size: cover;
                background-position: 0x 0px ;
           }
        .jew  {
                position: absolute;
                top: 140px;
                left: 100px;
                width: 527px;
                height:400px;
                display:block;
                background:transparent url('jew-grab-money-kinky-hair-hooknose-grin.png') ;
                background-size: cover;
                background-position: -500px 0px ;

           }
    .jew:hover {
                    position: absolute;
                    background-position: 0px 0px ;
                    }
    .inkpen  {
                position: absolute;
                top: 460px;
                left: 620px;
                width: 300px;
                height:150px;
                display:block;
                background:transparent url('Blank-scroll-quill-pen-decorated-inkwell.png') ;
                background-size: cover;
                background-position: 0px 0px ;

           }
    .inkpen:hover {
                    position: absolute;
                    background-position: 0px 450px ;
                    }
    .sextant  {
                position: absolute;
                top: 0px;
                left: 550px;
                width: 210px;
                height:210px;
                display:block;
                background:transparent url('Sextant.png') ;
                background-size: cover;
                background-position: 0px -25px ;

           }
    .sextant:hover {
                    position: absolute;
                    background-position: 0px -300px ;
                    }
    .doublon  {
                position: absolute;
                top: 246px;
                left: 632px;
                width: 132px;
                height:132px;
                display:block;
                background:transparent url('Doublon.png') ;
                background-size: cover;
                background-position: 0px -1px ;

           }
    .anchor  {
                position: absolute;
                top: 150px;
                left: 1001px;
                width: 212px;
                height:150px;
                display:block;
                background:transparent url('anchor.png') ;
                background-size: cover;
                background-position: 0px -1px ;

           }
    .candle  {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 220px;
                height:220px;
                display:block;
                background:transparent url('candle.png') ;
                background-size: cover;
                background-position: 0px -247px ;

           }
    .candle:hover {
                    position: absolute;
                    background-position: 0px -20px ;
                    }
    .indian{
    height: 80%;
    background:transparent url('indian.png') no-repeat;
    background-size: 60%;
    background-position: center;
    }
    
    .traveller{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 515px;
    height:400px;
    display: block;
    background:transparent url('path_traveller.png') no-repeat;
    background-position: center; 
    background-position: 0px 0px;
    background-size: cover;
    }
    .traveller:hover{
    position: absolute;
    background-position: -517px 0px ;
    }
